<footer class="container py-24">
    <div class="flex flex-col justify-center items-center xl:grid xl:grid-cols-2 mb-12 gap-8">
        <div class="mx-auto xl:mx-0">
            <img src="{{ url('assets/img/logo.svg') }}" width="560" height="100" alt="VBRG Logo" class="mb-8 lg:mb-12 w-full max-w-[560px] h-auto"/>
            <p class="text-xl text-yellow font-black"> {{ settings.address }}</p>
        </div>
        <div class="mx-auto xl:mx-0 space-y-8 max-w-2xl">
            {% include '_atoms/button.twig' with {
                'label': settings.phone,
                'target': 'tel:' ~ settings.phone,
                'bgImag': 0
            } %}
            {% include '_atoms/button.twig' with {
                'label':  settings.mail,
                'target': 'mailto:' ~  settings.mail,
                'bgImag': 1
            } %}
        </div>
    </div>
    <div class="mx-auto mt-24 mb-48 flex justify-center">
        <a href="#app"
           class="bg-yellow text-black hover:bg-black hover:text-yellow h-16 w-16 lg:h-[80px] lg:w-[80px] flex items-center justify-center">
            <svg viewBox="0 0 40 45" xmlns="http://www.w3.org/2000/svg" class="h-10 lg:w-[40px] lg:h-auto fill-current">
                <path d="M39.032 19.468 20 .438.969 19.468l2.063 2.064L18.5 6.062v38.439h3V6.063l15.469 15.469z"
                      fill-rule="nonzero"/>
            </svg>
        </a>
    </div>
    <p class="text-center text-lg">&copy; {{ now|date('Y') }} {{ settings.copyright }}</p>
    <ul class="flex justify-center my-8">
        {% for page in settings.footerNavigation %}
            <li class="font-black text-xl">
                <a href="{{ page.url }}"
                   class="text-yellow">
                    {{ page.title }}
                </a>
                {{ not loop.last ? '<span class="mx-4">&middot</span>' }}
            </li>
        {% endfor %}
    </ul>
</footer>