<footer class="container py-24">
    <div class="flex flex-col justify-center items-center xl:grid xl:grid-cols-2 xl:items-start mb-12 gap-24">
        <div class="mx-auto xl:mx-0">
            <img src="{{ url('assets/img/vbrg-logo-black.svg') }}" width="600" height="100" alt="VBRG Logo" class="mb-8 lg:mb-14 w-full max-w-[600px] h-auto"/>
            {% if settings.address %}
            <p class="text-xl text-black font-black xl:ml-12 ">{{ settings.address }}</p>
            {% endif %}
        </div>
        <div class="mx-auto xl:mx-0 space-y-8 max-w-2xl">
            {% include '_atoms/button.twig' with {
                'label': settings.phone,
                'target': 'tel:' ~ settings.phone,
                'bgImag': 0
            } %}
            {% include '_atoms/button.twig' with {
                'label':  settings.mail,
                'target': 'mailto:' ~  settings.mail,
                'bgImag': 1
            } %}
        </div>
    </div>
    <div class="mx-auto mt-24 mb-48 flex justify-center">
        <div class="flex flex-col xl:flex-row justify-between items-end w-full gap-y-12 xl:gap-y-0">

            <div class="flex flex-col xl:justify-end xl:items-end xl:ml-auto mx-auto xl:mr-0">
                <p class=" text-lg text-black text-center xl:text-right mb-12"><br />Der <strong>VBRG e.V.</strong> ist Mitglied der <br /><a href="https://www.transparente-zivilgesellschaft.de/" target="_blank" class="font-black text-yellow hover:text-black">Initiative Transparente Zivilgesellschaft</a></p>

                <img src="{{ url('assets/img/initiative-label.svg') }}" width="340" height="100" alt="Initiative Transparente Zivilgesellschaft" class="w-auto lg:h-[100px]"/>

            </div>

        <a href="#app"
           class="bg-yellow flex-shrink-0 text-black hover:bg-black hover:text-yellow h-16 w-16 lg:h-[100px] lg:w-[100px] flex items-center justify-center rounded-full mx-auto">
            <svg viewBox="0 0 40 45" xmlns="http://www.w3.org/2000/svg" class="h-10 lg:w-[40px] lg:h-auto fill-current">
                <path d="M39.032 19.468 20 .438.969 19.468l2.063 2.064L18.5 6.062v38.439h3V6.063l15.469 15.469z"
                      fill-rule="nonzero"/>
            </svg>
            <span class="sr-only">Scroll to top</span>
        </a>
            <div class="flex justify-center self-start mx-auto xl:mr-auto xl:ml-0">
                <div class="mx-auto">
                    {% if settings.pgpKey %}
                        <a href="{{ settings.pgpKey[0].url }}" download class="text-left text-lg font-black text-yellow hover:text-black">PGP Schlüssel Download</a>
                    {% endif %}
                    {% if settings.pgpFingerprint %}
                        <p class="text-left text-lg text-black">{{ settings.pgpFingerprint }}</p>
                    {% endif %}

                </div>
            </div>
    </div>
    </div>
    <p class="text-center text-base">&copy; {{ now|date('Y') }} {{ settings.copyright }}</p>
    <ul class="flex flex-col sm:flex-row justify-center items-center my-8">
        {% for page in settings.footerNavigation %}
            <li class="font-black text-xl">
                <a href="{{ page.url }}"
                   class="text-yellow hover:text-black">
                    {{ page.title }}
                </a>
                {{ not loop.last ? '<span class="mx-4 hidden sm:inline-flex">&middot</span>' }}
            </li>
        {% endfor %}
    </ul>
</footer>