<header>
    {% if settings.mainNavigation|length %}
    <div class="mr-4 sm:mr-8 lg:container flex justify-end">
        <navigation-button></navigation-button>
    </div>
    <navigation>
        <div class="px-10 md:px-20 lg:px-40 pt-24 lg:pt-12 pb-48 min-h-screen flex flex-col justify-between">
            <div class="flex justify-center w-full items-center mb-20">
                <a href="/" class="block w-full max-w-[470px]">
                    <img src="{{ url('assets/img/vbrg-logo-white.svg') }}" width="480" height="80" alt="VBRG Logo" class="w-full max-w-[560px] h-auto"/>
                </a>
            </div>
            <nav>
                <ul>
                    {% for page in settings.mainNavigation %}
                        <li class="font-black text-lg sm:text-xl lg:text-[50px] text-center">
                            <a href="{{ page.url }}"
                               class="text-yellow hover:text-white">
                                {{ page.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <ul class="flex flex-col sm:flex-row justify-center items-center my-8">
                {% for page in settings.footerNavigation %}
                    <li class="font-black text-base lg:text-xl">
                        <a href="{{ page.url }}"
                           class="text-yellow hover:text-white">
                            {{ page.title }}
                        </a>
                        {{ not loop.last ? '<span class="mx-4 hidden sm:inline-flex text-white">&middot</span>' }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </navigation>
    {% endif %}
</header>