<section id="donation" class="my-16 lg:my-32">
    <div class="transform translate-y-16 z-30 relative">

        <key-visual size="md">
        <img src="{{ url('assets/img/logo-opfer-hilfefonds.svg') }}" class="w-[90%] max-w-[700px] h-auto lg:w-auto lg:h-[168px] absolute bottom-6"
             alt="VBRG Opfer Hilfefonds"/>
        </key-visual>

    </div>
    <div class="relative text-white z-10">
        {{ svg('@webroot/assets/img/white-bg-1.svg')|attr({ class: 'absolute inset-1 -z-1 block h-full w-full fill-current' }) }}

        <div class="px-8 py-16 lg:px-16 xl:px-24 relative">
            <h2 class="text-pink text-center text-2xl lg:text-[60px] lg:leading-[60px] mb-6">{{ block.headline }}</h2>
            <h3 class="text-black text-center text-xl lg:text-[30px] lg:leading-[60px] my-0">{{ block.subline }}</h3>
            <div class="bg-gray-400 h-[300px] w-full my-12"></div>
            <div class="typo typo--on-white-in-pink">
                {{ block.text }}
            </div>
        </div>
    </div>
</section>
